<div class="gridFooter"><button ng-if="config.controls.insert" ng-click="controls.insert();">
	Insert
</button><button ng-if="config.controls.save" ng-click="controls.save();">
	Save
</button><button ng-if="config.controls.del" ng-click="controls.del();">
	Delete
</button><button ng-if="config.controls.search" ng-click="controls.search();">
	Search
</button><button ng-if="config.controls.fetch" ng-click="controls.fetch();">
	Fetch
</button><button ng-if="config.controls.undo" ng-click="controls.undo();">
	Undo
</button></div>